/* CSS RESET */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal;}
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }
/* ****** */

body { margin:0; padding:0; text-align:center; font:10pt "Trebuchet MS", Arial, Helvetica, sans-serif; line-height:14pt; }

h1 { font-size:14pt; font-weight:bold; margin:0 0 10px 0;  }
h2 { font-size:11pt; font-weight:bold; margin:0 0 5px 0;  }
small { font-size:8pt; }
big { font-size:20pt; line-height:normal;  }
strong { font-weight:bold; }
a { color:#0E30DF; text-decoration:none; }
a:visited { color:#0E30DF; }
a:hover { text-decoration:underline; }
a:active {  }

.vcenter { vertical-align:middle; }
.clear { clear:both; }

#container { margin:0 auto; text-align:left; width:970px; padding:0 10px 0 10px; }

#header {  }
	#logo { width:190px; float:left; margin:0; padding: 0 5px;}
	#banner { width:770px; height:80px; float:right; }
	
#smoothmenu2 { width:180px; padding:0px; margin:10px; float:left;  }
			
#content { width:760px; float:right; overflow:auto; padding: 5px 10px 10px 0; }
#sidebar_content {
	width: 170px;
}
#footer { line-height:25px; color:#fff; padding:0 10px 0 10px; text-align:center; font-size:9pt; }

#siteend { width:990px; margin:0 auto;  line-height:10px; }

#header_title {
	width: 100%;
	float: left;
	text-align: left;
	padding: 0 10px 10px 22px;
	font:25pt "Trebuchet MS", Arial, Helvetica, sans-serif; 
	font-weight: bold;
	color: white;
}

#header_tagline {
	width: 100%;
	float: right;
	text-align: right;
	padding: 0 10px 10px 22px;
	font:15pt "Trebuchet MS", Arial, Helvetica, sans-serif; 
	font-weight: bold;
	color: white;
}

#breadcrumb { padding-left: 200px; color: #808080; font-size: 12pt;}

#breadcrumb a, #breadcrumb a:link, #breadcrumb a:visited {
	color: #668D18;
	font-size: 12pt;
}

.FooterContent a {
	color: white;
}